
    .logo{
        width: 14rem;
    } 
    
    .menu_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .ico_menu {
        width: 2.1rem;
        height: 1.5rem;
    }
    
    .menu {
        font-size: 2.4rem;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        padding: 0rem 1.5rem;
    }
    
    .container_hello {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5rem;
        padding: 0rem 3rem;
    }
    
    .hello {
        margin: 0rem 1rem;
        font-size: 3.4rem;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .container_perfil {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        padding: 0rem 3rem;
    }
    
    .nombre {
        font-weight: 500;
        font-size: 7.4rem;
        width: 59.8rem;
    }
    
    .texto1 {
        margin: 2rem 0rem;
        font-size: 4rem;
        font-weight: 400;
        width: 59.8rem;
    }
    
    .texto2 {
        margin: 1.2rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        width: 59.8rem;
    }
    
    .img_cont {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 4rem;
        padding: 0rem 3rem; 
    }
    
    .userpic {
        width: 43.4rem;
    }
    
    .userpic2 {
        display: none;
    }

    .ic_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .iconos {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;  
        align-self: center;
        width: 25%;
    
        margin-top: 9rem;
    }

    .scroll_cont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 30rem;
    }

    .scroll_cont span {
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 10rem;
    }

    .scroll_cont img {
        margin-top: 1rem;
    }
    
    .vector {
        width: 2rem;
        height: 2rem; 
    }
    
    .b_img {
        width: 3.8rem;
        height: 3.8rem;
    }
    
    .twit {
        width: 2rem; 
    }
    
    .learn {
        font-size: 3.6rem;
        font-weight: 400;
        margin-top: 25rem;
        align-self: center;
    }
    
    .video {
        width: 108.8rem;
        margin-top: 7rem;
        align-self: center;
    }
    
    .video2 {
        display: none;
    }
    
    .what {
        font-size: 5.4rem;
        font-weight: 500;
        margin-top: 25rem;
        margin-bottom: 7rem;
        align-self: center;
    }

    .cuadros_web {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .ui {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0rem 2rem; 
        background-color: #333333;
    
        margin-bottom: 4rem;
        width: 34.133rem;
    }
    
    .design_ux {
        font-size: 4.6rem;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 7rem;
    }
    
    .ui p {
        font-size: 1.8rem;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 3rem;
    }
    
    .read {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
    
    .read a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    .read img {
        width: 4.1rem;
        margin-left: 2rem;
    }
    
    .web {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0rem 2rem; 
        background-color: #D6D6D6;
    
        margin-bottom: 4rem;
        width: 34.133rem;
    }
    
    .design_web {
        font-size: 4.6rem;
        font-weight: 400;
        color: #333333;
        margin-top: 7rem;
    }
    
    .web p {
        font-size: 1.8rem;
        font-weight: 400;
        color: #333333;
        margin-top: 3rem;
    }
    
    .more {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
    
    .more a {
        text-decoration: none;
        color: #333333;
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    .more img {
        width: 4.1rem;
        margin-left: 2rem;
    }
    
    .circulos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
    
    .direccion {
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 8%;
    }
    
    .direccion .arrow {
        margin-left: -6rem;
        position: absolute;
    }
    
    .circulos img {
        margin: 0rem 1.5rem;
    }
    
    .portafolio {
        font-size: 5.4rem;
        font-weight: 500;
        color: #333333;
        align-self: center;
        margin-top: 25rem;
    }
    
    .opciones {
       display: none;
    }
    
    .opciones2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        width: 55%;
        padding: 0rem 3rem;
        margin-top: 4.5rem; 
    }
    
    .opciones2 li {
        list-style: none;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 1.5rem 0rem;
    }
    
    .all {
        font-size: 1.4rem;
        font-weight: 600 !important;
    }
    
    .fotos {
        display: none;
    }

    .fotos2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
    }

    .fotos2 img{
        align-self: flex-start;
        width: 32%;
    }

    .d1 {
        margin-top: -8rem;
        position: relative;
    }
    .d3 {
        margin-top: 3.3rem;
    }
    .d5 {
       margin-top: -18.5rem;
    }
    
    .cliente {
        font-size: 5.4rem;
        font-weight: 500;
        color: #333333;
        margin-top: 25rem;
        align-self: center;
    }
    
    .testimonio {
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
    }
    
    .cliente_img {
        margin-top: 10rem;
        width: 48.6rem;
        align-self: center;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;  
    }

    .informacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 49%;
    }

    .circulos2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 35%;
        align-self: flex-start;
    
        margin-top: 12rem;
    }

    .direccion2 {
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 8%;
    }
    
    .direccion2 .arrow {
        margin-left: -7rem;
        position: absolute;
    }
    
    .comillas {
        margin-top: 6rem;
        margin-bottom: 1rem;
    }
    
    .comillas img {
        width: 3.418rem;
    }
    
    .comillas2 {
        position: absolute;
        right: 0;
        margin-top: 1rem;
        margin-right: 3rem;
    }
    
    .comillas2 img {
        width: 3.418rem;
    }
    
    .testimonio p {
        font-size: 3.2rem;
        font-weight: 400;
        color: #333333;
    }
    
    .cliente_name {
        font-size: 2.8rem;
        color: #333333;
        font-weight: 500;
        margin-top: 15rem;
    }
    
    .pro {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 30rem;
    }
    
    .hello_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        margin-top: 10rem;
    }
    
    .hello_section .hello {
        position: absolute;
        width: 103.9rem;
    }
    
    .hello_title {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 3.2rem;
        margin-top: 8rem;
    }
    
    .hello_title2 {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 5.4rem;
        margin-top: 3rem;
        z-index: 3;
    }
    
    .contact {
        background-color: #FFFFFF;
        text-decoration: none;
        color: #333333;
        width: 18.5rem;
        height: 7.3rem;
        font-size: 2.8rem;
        font-weight: 400;
        margin-top: 8rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    
    .iconos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 8rem;
        margin-bottom: 8rem;
        z-index: 80;
    }
    
    .iconos img {
        width: 3.2rem;
    }
    
    .bas {
        width: 2.5rem;
    }
    
    .project {
        display: none;
    }
    
    .project- {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        margin-top: 12rem;
        width: 100%;
    }
    
    .project- div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        z-index: 5;
    }
    
    .project- h2{
        font-size: 6.4rem;
        font-weight: 400;
        margin-top: 4rem;
    }
    
    .project- span{
        font-size: 2.4rem;
        font-weight: 400;
        margin-top: 1.5rem;
    }
    
    .projec_img {
        position: absolute;
        margin-left: 10rem;
        margin-top: 3.3rem;
        width: 87.9rem;
    }
    
    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 1.5rem;
    }

    .image_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        background-color: #333333;
        width: 34.133rem;
    }

    .section h2 {
        color: #FFFFFF;
        font-size: 2rem;
        font-weight: 400;
        align-self: center;
        margin-top: 7rem;
        margin-left: 1.5rem;
    }

    .section img {
        width: 100%;
    }
    
    .section- {
        display: none;
    }
    
    .blog{
        font-size: 5.4rem;
        font-weight: 500;
        margin-top: 28rem;
        margin-bottom: 4rem;
    }
    
    .section- img{
        align-self: center;
        width: 100%;
        margin-top: -0.2rem;
    }
    
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 100%;
        margin-top: 2rem;
        padding: 0rem 2rem;
    }
    
    .info span {
        color: #FFFFFF;
        font-size: 1.4rem;
        font-weight: 400;
    }
    
    .section- h2 {
        color: #FFFFFF;
        font-size: 2rem;
        font-weight: 400;
        align-self: center;
        margin-top: 7rem;
        margin-left: 1.5rem;
    }
    
    .read3 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
    
        margin-top: 7rem;
        align-self: flex-start;
        margin-bottom: 2rem;
        padding: 0rem 2rem;
    }
    
    .read3 a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.8rem;
        font-weight: 500;
    }
    
    .read3 img {
        width: 4.1rem;
        margin-left: 2rem;
    }
    
    .contenedor h2 {
        font-size: 2.4rem;
        font-weight: 400;
        margin-top: 7rem;
        align-self: flex-start;
    }
    
    .final_section p {
        font-size: 2.8rem;
        font-weight: 300;
        margin-top: 4rem;
        width: 43.3rem;
    }
    
    .For {
        font-size: 5.4rem !important;
        font-weight: 500 !important;
        margin-top: 20rem !important;
        align-self: center !important;
    }
    .final_section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0rem 1.5rem;
    }
    
    .options {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 12rem;
    }
    
    .options div {
        margin-top: 2rem;
        width: 26.6rem;
    }
    
    .options span {
        font-size: 2rem;
        font-weight: 300;
    }
    
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 45%;
        background-color: #333333;
        padding: 0rem 6rem;
        margin-top: 6rem;
    }
    
    .formulario input {
        width: 100%;
        height: 3rem;
        background-color: #333333;
        border: none;
        outline: none;
        border-bottom: 0.1rem solid #FFFFFF;
        color: #FFFFFF;
        font-size: 1.4rem;
        margin-top: 6rem;
    }
    
    .pdescription {
        color: #FFFFFF;
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 6rem;
    }
    
    .input {
        margin-top: 0.5rem !important;
    }
    
    ::placeholder {
        color: #FFFFFF;
        font-size: 1.4rem;
        font-weight: 400;
    }
    
    .boton {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    
    .formulario button {
        font-size: 1.4rem;
        font-weight: 300;
        width: 11.6rem;
        height: 4.9rem;
        align-self: flex-end;
        margin-top: 2rem;
        background-color: #FFFFFF;
        border: none;
        margin-bottom: 6rem;
    }
    
    .seccion {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0rem 1.5rem;
    }

    .iconos2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        width: 40%;  
    
        margin-top: 5rem;
    }
    
    .Template {
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 2rem;
    }
